.player-playback {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.player-playback_slider {
    flex: 1;
}

.player-playback_progress-time {
    line-height: 1;
    font: var(--small);
    position: relative;
    top: 1px;
}